<!DOCTYPE HTML>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/main_layout}">
<head>
    <title>Product detail</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <h2 th:text="${product.name}">Product name</h2>
    <p th:text="${product.description}">Popis</p>
    <p th:text="${product.price}">Cena</p>
    <a class="btn btn-success" th:href="@{'/cart/addProduct/' + ${product.id}}">Buy</a>
</div>
</body>
</html>